<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="agentransack" version="2022.3562.0" />
  <package id="azure-cli" version="2.90.0" />
  <package id="azure-data-studio" version="1.52.0" />
  <package id="azure-functions-core-tools" version="4.14.0" />
  <package id="azure-kubelogin" version="0.2.19" />
  <package id="chocolatey" version="2.7.4" />
  <package id="chocolatey-compatibility.extension" version="1.0.0" />
  <package id="chocolatey-core.extension" version="1.4.0" />
  <package id="chocolatey-dotnetfx.extension" version="1.0.1" />
  <package id="chocolatey-visualstudio.extension" version="1.13.0" />
  <package id="chocolatey-windowsupdate.extension" version="1.0.5" />
  <package id="docker-cli" version="29.8.1" />
  <package id="docker-desktop" version="4.91.0" />
  <package id="dotnet-10.0-desktopruntime" version="10.0.12" />
  <package id="dotnet-10.0-sdk" version="10.0.401" />
  <package id="dotnet-10.0-sdk-1xx" version="10.0.112" />
  <package id="dotnet-10.0-sdk-2xx" version="10.0.204" />
  <package id="dotnet-10.0-sdk-3xx" version="10.0.303" />
  <package id="dotnet-10.0-sdk-4xx" version="10.0.401" />
  <package id="DotNet4.6" version="4.6.00081.20150925" />
  <package id="dotnet-5.0-desktopruntime" version="5.0.17" />
  <package id="dotnet-6.0-desktopruntime" version="6.0.36" />
  <package id="dotnet-8.0-sdk" version="8.0.425" />
  <package id="dotnet-8.0-sdk-2xx" version="8.0.206" />
  <package id="dotnet-8.0-sdk-4xx" version="8.0.425" />
  <package id="dotnet-9.0-sdk" version="9.0.318" />
  <package id="dotnet-9.0-sdk-1xx" version="9.0.121" />
  <package id="dotnet-9.0-sdk-2xx" version="9.0.205" />
  <package id="dotnet-9.0-sdk-3xx" version="9.0.318" />
  <package id="dotnetfx" version="4.8.0.20220524" />
  <package id="dotnet-sdk" version="10.0.401" />
  <package id="dual-monitor-tools" version="2.12.0" />
  <package id="figma" version="116.12.2" />
  <package id="filezilla" version="3.71.1" />
  <package id="git" version="2.55.0.5" />
  <package id="git.install" version="2.55.0.5" />
  <package id="GitVersion.Portable" version="6.8.2" />
  <package id="glab" version="1.118.0" />
  <package id="glab.portable" version="1.118.0" />
  <package id="grep" version="3.11.0" />
  <package id="ilspy" version="11.0.0" />
  <package id="k9s" version="0.51.0" />
  <package id="KB2919355" version="1.0.20160915" />
  <package id="KB2919442" version="1.0.20160915" />
  <package id="KB2999226" version="1.0.20181019" />
  <package id="KB3033929" version="1.0.5" />
  <package id="KB3035131" version="1.0.3" />
  <package id="KB3063858" version="1.0.0" />
  <package id="KB3118401" version="1.0.5" />
  <package id="kubernetes-cli" version="1.37.0" />
  <package id="kubernetes-helm" version="4.1.4" />
  <package id="linqpad9.install" version="9.10.20" />
  <package id="mitmproxy" version="12.2.3" />
  <package id="mouse-jiggler" version="3.0.0" />
  <package id="nodejs-lts" version="24.21.0" />
  <package id="notepadplusplus.install" version="8.9.8" />
  <package id="notepadreplacer" version="1.6.3" />
  <package id="npiperelay" version="0.1.0" />
  <package id="nuget.commandline" version="7.9.0" />
  <package id="NugetPackageExplorer" version="7.0.7" />
  <package id="oh-my-posh" version="31.3.0" />
  <package id="openvpn-connect" version="3.9.0" />
  <package id="paint.net" version="5.1.12" />
  <package id="poshgit" version="0.7.3.1" />
  <package id="postgresql18" version="18.6.3" />
  <package id="powershell-core" version="7.6.6" />
  <package id="putty" version="0.85.0" />
  <package id="putty.portable" version="0.85.0" />
  <package id="python314" version="3.14.7" />
  <package id="terraform" version="1.16.3" />
  <package id="tflint" version="0.64.0" />
  <package id="trivy" version="0.74.0" />
  <package id="vcredist140" version="14.51.36247" />
  <package id="vcredist2015" version="14.0.24215.20170201" />
  <package id="vscode" version="1.138.0" />
  <package id="vscode.install" version="1.138.0" />
  <package id="WinDirStat" version="2.8.0" />
  <package id="winmerge" version="2.16.58.2" />
  <package id="wireshark" version="4.6.8" />
</packages>